<div class="jumbotron">
    <h1>DuckCreekDemo</h1>
    <p class="lead">DuckCreekDemo For Round1</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>
